*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{	
	border: 2px solid green;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(to top left, #3ed8ff, #8B4);
	

}
button{
	width: 50px;
	height: 50px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.482);
	font-weight: bold;
	border: 1px solid #3ed8ff;
	

}

#calculatorArea{
	background-color: #ffffffcc;
	background-image: url(calMain.jpg);
	background-size: cover;
	background-position: right bottom, left top;
	background-repeat: no-repeat, repeat;
	box-shadow: 2px 2px 5px #2773a5;
	border-radius: 20px;
	padding: 30px;
	display: grid;
	column-gap: 10px;
	row-gap: 10px;
	justify-content: center;
	align-content: center;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto auto auto auto;
}
.box{

	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: blueviolet;
}
h1{
	padding-bottom: 30px;
}
#ansArea{	
	background-color: rgba(255, 255, 255, 0.482);
	border-radius: 8px;
	grid-area: 1/1/2/5;
	height: 50px;
	margin-bottom: 30px;
	text-align: right;
	font-weight: bold;
	font-size: large;
	text-decoration-color: black;
	border: 1px solid #3ed8ff;
}

.reset{
	grid-area: 2/1/3/2;
}
.divide{
	grid-area: 2/3/3/4;
}
.multiply{
	grid-area: 2/4/3/5;
}
.backSpace{
	grid-area: 2/2/3/3;
}
.substract{
	grid-area: 3/4/3/5;
}
.seven{
	grid-area: 3/1/3/2;
}
.eight{
	grid-area: 3/2/3/3;
}
.nine{
	grid-area: 3/3/3/4;
}
.add{
	grid-area: 4/4/5/5;
}
.four{
	grid-area: 4/1/5/2;
}
.five{
	grid-area: 4/2/5/3;
}
.six{
	grid-area: 4/3/5/4;
}
.one{
	grid-area: 5/1/6/2;
}
.two{
	grid-area: 5/2/6/3;
}
.three{
	grid-area: 5/3/6/4;
}
.equal{
	grid-area: 5/4/7/5;
	height: 110px;
}
.zero{
	grid-area: 6/1/7/3;
	width: 110px;
}
.dot{
	grid-area: 6/3/7/4;
}

button:hover{
	background-color: rgba(135, 187, 68, 0.644);
}
button:active, #ansArea:hover{
	background-color: rgba(222, 184, 135, 0.711);
}

